*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    overflow: hidden;
}

body{
    /* width: 100vw;
    height: 100vh; */
    /* max-width: 500px; */
    overflow: hidden;
    background-color: black;
    /* user-select: none; */
    -webkit-tap-highlight-color: transparent;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.197),rgb(12, 0, 19));
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.container{
    position: fixed;
    top: 0;
    left: 0;
    font-family: "Roboto", sans-serif;
    height: 100%;
    width: 100%;
    padding: 90px  0 50px 0;
    background-color: rgb(245, 230, 243);
    overflow-x: hidden;
    transition: all 0.5s ease;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.dark.container{
    background-color: rgb(28, 22, 28);
}

.container.nooverflow{
    overflow-y: hidden;
}

/* Navbar style starts here */

.navbar{
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(243, 236, 246, 0.213);
    border-bottom: 2px solid transparent;
}

.dark .navbar{
    background-color: #0002;
    border-color: rgba(245, 230, 243, 0.194);
}

.show.navbar{
}

.navbar .hamburger{
    height: 40px;
    width: 40px;
    color: rgb(84, 0, 77);
    border: 3px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.dark .navbar .hamburger{
    color: rgb(245, 230, 243);
}

.navbar .hamburger .dot{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(84, 0, 77);
    position: relative;
    transition: all 0.5s ease;
}

.dark .navbar .hamburger .dot{
    background-color: rgb(245, 230, 243);
}

.navbar .hamburger .dot::before, .navbar .hamburger .dot::after{
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: inherit;
    border-radius: inherit;
}

.navbar .hamburger .dot::before{
    transform: translateX(10px);
}

.navbar .hamburger .dot::after{
    transform: translateX(-10px);
}

.navbar.show .hamburger{
    transform: rotate(90deg);
}



.navbar .gotosubscription{
    color: rgb(84, 0, 77);
    height: 40px;
    padding: 10px;
    border: 3px solid;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all 0.5s ease;
    cursor: pointer;
}

.dark .navbar .gotosubscription{
    color: rgb(245, 230, 243);
}

/* Navbar style ends here */




/* About style starts here */

    .about{
        /* border: 2px solid; */
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .about .black-sun{
        width: 200px;
        height: 200px;
        border: 5px solid rgb(61, 18, 58);
        box-shadow: 0px 0px 60px rgba(26, 0, 26, 0.321);
        border-radius: 50%;
        background-image: url(isaac-i.jpg);
        /* background-image:linear-gradient(rgba(255, 255, 255, 0), rgba(33, 33, 49, 0.386)) ,url(tertiux-black-sun.png); */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: all 0.5s ease;
        /* margin-bottom: 20px; */
    }

    .dark .about .black-sun{
        border:0px solid transparent;
        background-size: 235px;
        box-shadow: 0px 0px 50px #000;
    }

    .about .black-sun::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #0009;
        /* backdrop-filter: blur(10px); */
        border: 5px solid transparent;
        transition: all 0.5s ease;
        opacity: 0;
    }

    .about .black-sun:hover::before{
        opacity: 1;
    }

    .about .black-sun a{
        position: absolute;
        color: rgb(246, 242, 245);
        font-size: 40px;
        transition: all 0.5s ease;
        transform: translateY(-50px);
        opacity: 0;
        visibility: hidden;
        text-shadow: 0px 0px 30px #000;
    }

    .about .black-sun:hover a{
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .about .hero{
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        font-size: 20px;
        color: rgb(72, 2, 66);
    }

    .dark .about .hero{
        color: rgb(243, 236, 242);
    }
    
    .about .hero h1{
        /* border: 2px solid; */
        font-weight: 550;
        letter-spacing: 1.5px;
        font-size: 7vw !important;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .about .hero h1 span{
        font-weight: 500;
    }

    .about .hero span:last-child{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(107, 148, 237);
    }
    
    .about .hero .fa-check{
        position: absolute;
        font-size: 15px;
        color: #fff;
    }
    
    .about .role-holder{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        position: relative;
        margin: 40px 0;
    }
    
    .role-holder::before{
        content: "";
        position: absolute;
        width: 100px;
        height: 4px;
        background-color: rgb(56, 45, 60); 
        border-radius: 20px;
        opacity: 0.2;
        bottom: -40px;
        animation: before 1s ease forwards;
        animation-delay: 18s;
        animation-play-state: paused;
    }

    .dark .role-holder::before{
        background-color: rgb(246, 242, 245);
        opacity: 0.5;
    }

    .role-holder.play-animation::before{
        animation-play-state: running;
    }
    
    @keyframes before {
        0%{}
        100%{
            width: 50px;
            transform: translateY(-20px);
        }
    }
    
    .about .role-holder .role{
        border-right: 2px solid rgb(36, 36, 51);
        width: 100%;
        padding: 10px;
        font-size: 13px;
        letter-spacing: 1px;
        justify-content: center;
        align-items: center;
        animation: role 1s ease forwards;
        animation-delay: 18s;
        text-transform: capitalize;
        animation-play-state: paused;
    }


    .role-holder.play-animation .role{
        animation-play-state: running;
    }

    .dark .about .role-holder .role{
        border-color: rgb(246, 242, 245);
        color: #fff;
    }

    @keyframes role {
        0%{

        }        
        100%{
            margin: 20px 0;
            transform: scale(1.5);
            border-right-color: transparent !important;
        }        
    }

    .about .role-holder .role h3{
        /* border: 2px solid; */
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.6vw;
        word-wrap: none;
    }
    
    .about .role-holder .languages{
        border-left: 2px solid rgb(36, 36, 51);
        position: relative;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        animation: languages 1s ease forwards;
        animation-delay: 18s;
        animation-play-state: paused;
        /* overflow-y: hidden; */
    }

    .about .role-holder.play-animation .languages{
        animation-play-state: running;
    }

    .dark .about .role-holder .languages{
        border-left-color: rgb(246, 242, 245);
    }
    
    @keyframes languages {
        0%{
            width: 100%;
        }
        100%{
            width: 0px;
            opacity: 0;
            visibility: hidden;
        }
    }

    .about .role-holder .languages .language{
        position: absolute;
        opacity: 0;
        transition: all 0.5s ease;
        color: rgb(84, 0, 77);
        transform: translateY(40px);
    }

    .dark .role-holder .languages .language{
        color: rgb(181, 124, 172);
    }
    
    
    .about .role-holder .languages .language.active{
        opacity: 0;
        animation: skillsx 2s ease forwards;
        animation-play-state: paused;
    }
    
    .about .role-holder .languages .language.i{
        animation: skills 2s ease forwards;
        animation-delay: 2s;
        animation-play-state: paused;
    }
    .about .role-holder .languages .language.ii{
        animation: skills 2s ease forwards;
        animation-delay: 4s;
        animation-play-state: paused;
    }
    
    .about .role-holder .languages .language.iii{
        animation: skills 2s ease forwards;
        animation-delay: 6s;
        animation-play-state: paused;
    }
    
    .about .role-holder .languages .language.iv{
        animation: skills 2s ease forwards;
        animation-delay: 8s;
        animation-play-state: paused;
    }
    
    .about .role-holder .languages .language.v{
        animation: skillsy 2s ease forwards;
        animation-delay: 10s;
        animation-play-state: paused;
    }
    
    .about .role-holder .languages .language.vi{
        animation: skillsy 2s ease forwards;
        animation-delay: 12s;
        animation-play-state: paused;
    }
    
    .about .role-holder .languages .language.vii{
        animation: skillsy 2s ease forwards;
        animation-delay: 14s;
        animation-play-state: paused;
    }
    
    .about .role-holder .languages .language.viii{
        animation: skillsy 2s ease forwards;
        animation-delay: 16s;
        animation-play-state: paused;
    }
    
    @keyframes skills {
        0%{
            opacity: 0;
        }

        50%{
          opacity: 1;
          transform: translateY(0);
        }
        
        100%{
            transform: translateY(-30px);
            opacity: 0;
        }
    }

    @keyframes skillsy {
        0%{
            opacity: 0;
        }

        50%{
          opacity: 1;
          transform: translateY(0);
        }
        
        100%{
            transform: translateY(-30px);
            opacity: 0;
        }
    }

    @keyframes skillsx {
        0%{
            /* opacity: 0; */
            opacity: 1;transform: translateY(0);
        }
        
        50%{
          /* transform: translateY(0); */
          opacity: 1;transform: translateY(0);
        }
        
        100%{
            transform: translateY(-30px);
            opacity: 0;
        }
    }

    .about .role-holder .languages .language.play-animation{
        animation-play-state: running;
    }

/* About style ends here */

/* Links style starts here */

    .links{
        /* border: 2px solid; */
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .links .link-holder{
        width: 100%;
        padding: 10px 0;
        /* border: 2px solid; */
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;
        position: relative !important;
    }

    .link-holder {
        opacity: 0;
        transform: translateX(-20px);
        /* transition: opacity 0.5s, transform 0.5s; */
    }
      
    .link-holder.visible {
        opacity: 1;
        transform: translateX(0);
    }
      

    .dark .links .link-holder{
        padding: 20px 0;
    }

    .link-holder > div{
        /* border: 2px solid red; */
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .links .link{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 17px;
        width: 250px !important;
        background-color: rgb(56, 45, 60);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 1px;
        transition: all 0.5s ease !important;
        border: 3px solid transparent;
        text-decoration: none;
    }

    .dark .links .link{
        /* flex-direction: row-reverse; */
        background-color: rgb(245, 230, 243);
        color: rgb(26, 23, 26);
        color: rgb(245, 230, 243);
        background-color: transparent;
        border-color: #7a6a7a;
    }

    .dark .links .link i{
        /* padding-right: 20px; */
    }
    
    .links .link:hover{
        opacity: 0.6;
    }

/* Links style ends here */


.subscription, .preloader{
    position: fixed;
    opacity: 0;
    visibility: hidden;
}

/* About bigger styles starts here */

.about-bigger{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
    background-color: #000c;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

.show.about-bigger{
    opacity: 1;
    visibility: visible;
}

.about-bigger h1{
    margin-bottom: 50px;
    color: rgb(247, 241, 246);
    letter-spacing: 1px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.about-bigger p{
    color: #b8b3b8;
    margin-bottom: 20px;
}

.about-bigger button{
    /* padding: 10px; */
    color: #fff;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    /* font-weight: bold; */
    letter-spacing: 1px;
    border: none;
    background-color: rgb(38, 21, 37);
    border-radius: 12px;
    margin-top: 30px;
    transition: all 0.5s ease;
    border: 2px solid #fff;
    /* opacity: 0.1; */
}

.about-bigger button:hover{
    /* scale: 1.15; */
    /* background-color: #000; */
}

.copy.ing{
    opacity: 0.1;
}

.about-bigger .return{
    position: fixed;
    top: 20px;
    left: 20px;
    color: rgb(245, 230, 243);
    cursor: pointer;
}

/* About bigger styles ends here */

/* menu styles starts here */

.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 11;
    background-color: rgba(9, 6, 8, 0.8);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    backdrop-filter: blur(10px);
}

.dark .backdrop{
    
}

.show.backdrop{
    opacity: 1;
    visibility: visible;
}

.menu{
    position: fixed !important;
    bottom: 0;
    left: 0;
    height: 20vh;
    min-height: 200px;
    max-height: 300px;
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    z-index: 12;
    background-color: rgb(245, 230, 243);
    transition: all 0.5s ease;
    transform: translateY(100%) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 0px 10px #0000; */
}

.dark .menu{
    background-color: rgb(46, 32, 45);
}

.show.menu{
    /* box-shadow: 0px 0px 10px #0005; */
    transform: translateY(0) ;
}

.menu .menu-holder{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu .menu-holder .share-linktree{
    padding: 15px;
    display: flex;
    gap: 10px;
    background-color: rgb(38, 21, 37);
    color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0005;
    transition: all 0.5s ease;
}

.menu .menu-holder .share-linktree:hover{
    opacity: 0.6;
}

.menu .menu-holder .dark-mode{
    /* border: 2px solid; */
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    color: rgb(38, 21, 37);
}

.dark .menu .menu-holder .dark-mode{
    color: rgb(243, 236, 242);
}

.menu .menu-holder .toggle{
    width: 40px;
    border-radius: 20px;
    background-color: rgb(12, 0, 19);
    height: 20px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    cursor: pointer;
}

.menu .menu-holder .toggle.active{
    background-color: rgb(246, 242, 245);
}

.menu .menu-holder .toggle::before{
    border: 2px solid rgba(61, 18, 58, 0.42);
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    /* left: 0; */
    box-shadow: 0px 0px 10px #0003;
    transform: translateX(-10px);
    transition: all 0.5s ease;
}

.menu .menu-holder .toggle.active::before{
    background-color: rgb(12, 0, 19);
    transform: translateX(10px);
    border: 2px solid rgba(243, 236, 242, 0.365);
}


.menu .copyrt{
    position: absolute;
    bottom: 20px;
    opacity: 0.3;
    letter-spacing: 1px;
}

.dark .menu .copyrt{
    color: #fff;
}

/* menu styles ends here */


/* chatbubble starts here */

.chatbubble{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9;
    width: 15vw;
    height: 15vw;
    box-shadow: 0px 0px 20px rgba(26, 0, 26, 0.481);
    border-radius: 15px;
    background-color: rgb(87, 139, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    cursor: pointer;
}

.show.chatbubble{
    background-color: rgb(188, 0, 0);
    border-radius: 50%;
    transform: translateX(-37vw);
    /* transform: translateY(-20px); */
}


.chatbubble > i{
    font-size: 25px;
    color: #fff;
    position: absolute;
    text-shadow: 0px 0px 5px #0003;
    transition: all 0.5s ease !important;
}

.chatbubble i.fa-close{
    opacity: 0;
    scale: 0;
}

.show.chatbubble i.fa-comment-alt{
    opacity: 0;
    scale: 0;
}

.show.chatbubble i.fa-close{
    opacity: 1;
    scale: 1;
}

/* chatbubble ends here */

/* chatbot starts here */

.chatbot{
    position: fixed;
    /* bottom: 20px; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 350px;
    min-width: 300px;
    border-radius: 30px;
    height: 400px;
    background-color: rgba(243, 236, 242, 0.854);
    z-index: 8;
    backdrop-filter: blur(10px);
    padding: 20px;
    box-shadow: 0px 0px 100px rgba(35, 0, 36, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    scale: 0;
    /* transform: scale(0); */
    visibility: hidden;
    transition: all 0.5s ease;
}

.dark .chatbot{
    background-color: #0008;
}

.ai-img-holder{
    width: 100%;
    /* border: 2px solid; */
    height: 60px;
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
}

.ai-img-holder span{
    color: rgb(61, 18, 58);
    opacity: 0.6;
}

.dark .ai-img-holder span{
    color: rgb(243, 236, 242);
}

.ai-img-holder img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid rgb(48, 3, 45);
}

.dark .ai-img-holder img{
    border-color: #fff;
}

.show.chatbot{
    opacity: 1;
    scale: 1;
    /* transform: scale(1); */
    visibility: visible;
}

.chatbot .chat-holder{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.chat-holder .ai-response{
    width: 100%;
    height: 100%;
    /* border: 2px solid; */
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: rgb(61, 18, 58);
}

.dark .chatbot .ai-response{
    color: rgb(235, 228, 234);
}

.chat-holder a{
    margin-bottom: 30px;
}

.chat-holder form{
    width: 100%;
    height: 60px;
    /* height: 50%; */
    box-shadow: 0px 0px 10px #0003;
    border: 0px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    overflow: hidden;
    /* border-width: 0px; */
}

.dark .chat-holder form{
    border-width: 2px !important;
    /* border-color: #fff; */
    border: 2px solid #fff;
    height: 70px;
}

.chat-holder form input{
    height: 100%;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    color: rgb(61, 18, 58);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.dark .chat-holder form input{
    color: #fff;
    background-color: transparent;
}

.chat-holder form input:hover, .chat-holder form input:focus{
    /* border: 2px solid green; */
}

.chat-holder form button{
    height: 100%;
    width: 60px;
    background-color: rgb(61, 18, 58);
    border: none;
    color: #fff;
    transition: all 05s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.chat-holder form button:hover{
    opacity: 0.7;
}

.think i{
    position: absolute;
    opacity: 1;
    transition: all 0.5s ease;
}

.dark .think{
    width: 50px;
    height: 50px;
    background-color: transparent;
}

.show.think i{
    opacity: 0;
}

/* chatbot ends here */


/* preloader starts here */

.preloader{
    opacity: 1;
    visibility: visible;
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    background-color: #ede1eeef;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: hide-preloader 0.5s ease forwards;
    animation-delay: 3s;
}

.dark .preloader{
    background-color: #000000ef;
}

.preloader-circle{
    width: 50px;
    height: 20px;
    border: 2px solid rgb(101, 0, 94);
    border-radius: 50%;
    border-bottom-width: 0px;
    /* border-bottom-color: rgba(101, 0, 94, 0.098); */
    animation: preloader 0.5s linear forwards infinite;
}

.dark .preloader-circle{
    border-color: rgb(235, 228, 234);
}

.toolong{
    display: none;
}

@keyframes preloader {
    0%{
        transform: rotate(-1000deg);
    }
    100%{}
}


@keyframes hide-preloader {
    0%{}
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

/* preloader ends here */

@media screen and (min-width: 600px) {
    #root{
        display: flex;
        justify-content: center;
        align-items: center;
        /* width: 400px;
        height: 400px; */
        overflow: hidden;
        border: 4px solid;
        position: relative;
        /* scale: 1; */
        transform: scale(1) !important;
        height: 80%;
        width: 80%;
        max-width: 400px;
        max-height: 800px;
        border-radius: 40px;
        box-shadow: 0px 0px 10px #0007;
        backdrop-filter: blur(10px);
    }


    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #000;
        background-image: linear-gradient(rgba(31, 1, 53, 0.779), rgb(0, 0, 0)), url(isaac-i.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    

    .about .hero h1{
        font-size: 25px !important;
    }

    .about .role-holder{
        width: 100%;
    }

    .about .role-holder .role h3{
        font-size: 14px;
    }

    button{
        cursor: pointer;
    }

    .chatbubble{
        width: 60px;
        height: 60px;
    }

    .show.chatbubble{
        transform: translateX(-130px);
    }

    .container{
        /* position: relative; */
    }
}

.orientation{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    color: indigo;
    z-index: 20;
    flex-direction: column;
    gap: 40px;
    display: none;
}

.dark .orientation{
    background-color: #000;
    color: #fff;
}

.orientation i{
    font-size: 40px;
}


@media screen and (max-height: 200px) and (min-width: 400px) {
    .orientation{
        display: flex;
    }
    
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #000;
        background-image: linear-gradient(transparent, indigo), url(isaac-i.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 100px) {
    #root{
        display: none;
    }

    body{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #000;
        background-image: linear-gradient(transparent, indigo), url(isaac-i.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}