*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* width: 100vw;
    height: 100vh; */
    /* max-width: 500px; */
    /* overflow: hidden; */
    background-color: black;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(255, 255, 255, 0.197),rgb(12, 0, 19));
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

.container{
    position: fixed;
    top: 0;
    left: 0;
    font-family: "Roboto", sans-serif;
    height: 100%;
    width: 100%;
    padding: 90px  0 50px 0;
    background-color: rgb(245, 230, 243);
    overflow-x: hidden;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.container.nooverflow{
    overflow-y: hidden;
}

/* Navbar style starts here */

.navbar{
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(243, 236, 246, 0.213);
    /* border-bottom: 2px solid; */
}

.show.navbar{
}

.navbar .hamburger{
    height: 40px;
    width: 40px;
    color: rgb(84, 0, 77);
    border: 3px solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navbar .hamburger .dot{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(84, 0, 77);
    position: relative;
}

.navbar .hamburger .dot::before, .navbar .hamburger .dot::after{
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: inherit;
    border-radius: inherit;
}

.navbar .hamburger .dot::before{
    transform: translateX(10px);
}

.navbar .hamburger .dot::after{
    transform: translateX(-10px);
}



.navbar .gotosubscription{
    color: rgb(84, 0, 77);
    height: 40px;
    padding: 10px;
    border: 3px solid;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-weight: 600;
}

/* Navbar style ends here */




/* About style starts here */

    .about{
        /* border: 2px solid; */
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .about .black-sun{
        width: 200px;
        height: 200px;
        border: 5px solid rgb(61, 18, 58);
        box-shadow: 0px 0px 60px rgba(26, 0, 26, 0.321);
        border-radius: 50%;
        background-image: url(isaac-i.jpg);
        /* background-image:linear-gradient(rgba(255, 255, 255, 0), rgba(33, 33, 49, 0.386)) ,url(tertiux-black-sun.png); */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        /* margin-bottom: 20px; */
    }

    .about .black-sun::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #0009;
        /* backdrop-filter: blur(10px); */
        border: 5px solid transparent;
        transition: all 0.5s ease;
        opacity: 0;
    }

    .about .black-sun:hover::before{
        opacity: 1;
    }

    .about .black-sun a{
        position: absolute;
        color: rgb(246, 242, 245);
        font-size: 40px;
        transition: all 0.5s ease;
        transform: translateY(-50px);
        opacity: 0;
        visibility: hidden;
        text-shadow: 0px 0px 30px #000;
    }

    .about .black-sun:hover a{
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .about .hero{
        padding: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        font-size: 20px;
        color: rgb(72, 2, 66);
    }
    
    .about .hero h1{
        /* border: 2px solid; */
        font-weight: 550;
        letter-spacing: 1.5px;
        font-size: 7vw !important;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .about .hero h1 span{
        font-weight: 500;
    }

    .about .hero span:last-child{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(107, 148, 237);
    }

    .about .hero .fa-check{
        position: absolute;
        color: #fff;
        font-size: 15px;
    }

    .about .role-holder{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        position: relative;
        margin: 40px 0;
    }

    .role-holder::before{
        content: "";
        position: absolute;
        width: 100px;
        height: 4px;
        background-color: rgb(56, 45, 60); 
        border-radius: 20px;
        opacity: 0.2;
        bottom: -40px;
        animation: before 1s ease forwards;
        animation-delay: 20s;
    }

    @keyframes before {
        0%{}
        100%{
            width: 50px;
            transform: translateY(-20px);
        }
    }
    
    .about .role-holder .role{
        border-right: 2px solid rgb(36, 36, 51);
        width: 100%;
        padding: 10px;
        font-size: 13px;
        letter-spacing: 1px;
        justify-content: center;
        align-items: center;
        animation: role 1s ease forwards;
        animation-delay: 20s;
        text-transform: capitalize;
    }

    @keyframes role {
        0%{

        }        
        100%{
            margin: 20px 0;
            transform: scale(1.5);
            border-right-color: transparent;
        }        
    }

    .about .role-holder .role h3{
        /* border: 2px solid; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .about .role-holder .languages{
        border-left: 2px solid rgb(36, 36, 51);
        position: relative;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        animation: languages 1s ease forwards;
        animation-delay: 20s;
        /* overflow-y: hidden; */
    }

    @keyframes languages {
        0%{
            width: 100%;
        }
        100%{
            width: 0px;
            opacity: 0;
            visibility: hidden;
        }
    }

    .about .role-holder .languages .language{
        position: absolute;
        opacity: 0;
        transition: all 0.5s ease;
        color: rgb(84, 0, 77);
        transform: translateY(40px);
    }

    
    .about .role-holder .languages .language.active{
        animation: skills 2s ease forwards;
    }

    .about .role-holder .languages .language.i{
        animation: skills 2s ease forwards;
        animation-delay: 2s;
    }
    .about .role-holder .languages .language.ii{
        animation: skills 2s ease forwards;
        animation-delay: 4s;
    }

    .about .role-holder .languages .language.iii{
        animation: skills 2s ease forwards;
        animation-delay: 6s;
    }

    .about .role-holder .languages .language.iv{
        animation: skills 2s ease forwards;
        animation-delay: 8s;
    }

    .about .role-holder .languages .language.iv{
        animation: skills 2s ease forwards;
        animation-delay: 10s;
    }

    .about .role-holder .languages .language.v{
        animation: skills 2s ease forwards;
        animation-delay: 12s;
    }

    .about .role-holder .languages .language.vi{
        animation: skills 2s ease forwards;
        animation-delay: 14s;
    }

    .about .role-holder .languages .language.vii{
        animation: skills 2s ease forwards;
        animation-delay: 16s;
    }

    .about .role-holder .languages .language.viii{
        animation: skills 2s ease forwards;
        animation-delay: 18s;
    }
    
    @keyframes skills {
        0%{
            opacity: 0;
        }

        50%{
          opacity: 1;
          transform: translateY(0);
        }
        
        100%{
            transform: translateY(-30px);
            opacity: 0;
        }
    }

/* About style ends here */

/* Links style starts here */

    .links{
        /* border: 2px solid; */
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .links .link-holder{
        width: 100%;
        padding: 10px 0;
        /* border: 2px solid; */
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative !important;
    }

    .link-holder > div{
        /* border: 2px solid red; */
        width: 100% !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .links .link{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 17px;
        width: 250px !important;
        background-color: rgb(56, 45, 60);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        font-size: 17px;
        font-weight: 500;
        letter-spacing: 1px;
        transition: all 0.5s ease !important;
    }
    
    .links .link:hover{
        opacity: 0.6;
    }

/* Links style ends here */


.subscription, .preloader{
    position: fixed;
    opacity: 0;
    visibility: hidden;
}

/* About bigger styles starts here */

.about-bigger{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 6;
    background-color: #000c;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
}

.show.about-bigger{
    opacity: 1;
    visibility: visible;
}

.about-bigger h1{
    margin-bottom: 50px;
    color: rgb(247, 241, 246);
    letter-spacing: 1px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.about-bigger p{
    color: #b8b3b8;
    margin-bottom: 20px;
}

.about-bigger button{
    /* padding: 10px; */
    color: #fff;
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    /* font-weight: bold; */
    letter-spacing: 1px;
    border: none;
    background-color: rgb(38, 21, 37);
    border-radius: 12px;
    margin-top: 30px;
    transition: all 0.5s ease;
    border: 2px solid #fff;
    /* opacity: 0.1; */
}

.about-bigger button:hover{
    /* scale: 1.15; */
    /* background-color: #000; */
}

.copy.ing{
    opacity: 0.1;
}

.about-bigger .return{
    position: fixed;
    top: 20px;
    left: 20px;
    color: rgb(245, 230, 243);
}

/* About bigger styles ends here */

/* menu styles starts here */

.backdrop{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #000c;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    backdrop-filter: blur(10px);
}

.show.backdrop{
    opacity: 1;
    visibility: visible;
}

.menu{
    position: fixed !important;
    bottom: 0;
    left: 0;
    height: 20vh;
    min-height: 200px;
    max-height: 300px;
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    z-index: 11;
    background-color: rgb(245, 230, 243);
    transition: all 0.5s ease;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 0px 10px #0000; */
}

.show.menu{
    /* box-shadow: 0px 0px 10px #0005; */
    transform: translateY(0);
}

.menu .menu-holder{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu .menu-holder .share-linktree{
    padding: 15px;
    display: flex;
    gap: 10px;
    background-color: rgb(38, 21, 37);
    color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #0005;
    transition: all 0.5s ease;
}

.menu .menu-holder .share-linktree:hover{
    opacity: 0.6;
}

.menu .menu-holder .dark-mode{
    /* border: 2px solid; */
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-weight: 600;
    color: rgb(38, 21, 37);
}

.menu .menu-holder .toggle{
    width: 40px;
    border-radius: 20px;
    background-color: rgb(12, 0, 19);
    height: 20px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.menu .menu-holder .toggle::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    left: 0;
    box-shadow: 0px 0px 10px #0003;
}

.menu .copyrt{
    position: absolute;
    bottom: 20px;
    opacity: 0.3;
    letter-spacing: 1px;
}

/* menu styles ends here */


/* chatbubble starts here */

.chatbubble{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9;
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 20px rgba(26, 0, 26, 0.481);
    border-radius: 15px;
    background-color: rgb(87, 139, 223);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
}

.chatbubble:hover{
    background-color: #000623;
}

.chatbubble i{
    font-size: 25px;
    color: #fff;
    text-shadow: 0px 0px 5px #0003;
}

/* chatbubble ends here */